html, body {
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #0b132b; /* Azul escuro */
    color: #f8f9fa; /* Texto claro */
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .content {
    flex: 1;
  }
  
  /* Área de conteúdo principal (como o chat) */
  #area_conteudo {
    margin-top: 5%;
    border-color: #0d6efd !important; /* Azul Bootstrap */
  }
  
  /* Rodapé */
  footer {
    background-color: #0d6efd; /* Azul principal */
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    padding: 15px;
  }
  
 